<div class="container">

  <h1>Catálogo de Películas</h1>

  <div class="contenedor">

     @for (pelicula of peliculas; track pelicula.nombre) {

      <app-pelicula
        [datosPelicula]="pelicula"
        (peliculaSeleccionada)="mostrarPelicula($event)">
      </app-pelicula>

    }

  </div>

  <!-- Información dinámica -->
  @if (peliculaElegida) {

  <div class="detalle">

    <h2>{{ peliculaElegida.nombre }}</h2>

    <p>
      <strong>Género:</strong>
      {{ peliculaElegida.genero }}
    </p>

    <p>
      <strong>Año:</strong>
      {{ peliculaElegida.anio }}
    </p>

    <p>
      <strong>Sinopsis:</strong>
      {{ peliculaElegida.sinopsis }}
    </p>

  </div>

}

</div>